<br>
&nbsp; <img src="https://www.amrita.edu/ahead/images/aheadlogosticky.svg" alt="AMRITA AHEAD" width="250"> 
<table align="right">
  <td align="left"><a href=""></a></td>
  <td align="right"><a href="https://colab.research.google.com/drive/1emqOnDFB5JI888wWgEiIkiLDqTd889tL">Next: Simple exercises on Lists</a></td>
</table>

# **Week 5 - Lab 5.1 - A Gentle Introduction to Lists**

Lists store an ordered collection of items.

### 1a. Creating an empty list

In [ ]:
items = []
print(items)

[]

### 1b. Creating a list of integers

In [ ]:
items = [2,5,3,1,4, 7]
print(items)

[2, 5, 3, 1, 4, 7]

### 1c. Creating a list of floating point numbers

In [ ]:
items = [1.5, 22/7, 1.414, 2.81]
print(items)

[1.5, 3.142857142857143, 1.414, 2.81]
<class 'list'>

### 1d. Creating a list of strings

In [ ]:
items = ['Amrita', 'Online', 'BCA', 'PSAT']
print(items)

['Amrita', 'Online', 'BCA', 'PSAT']

### 1e. Creating a mixed list

Python lists are versatile. The items can be of different types. We will not focus on this type of lists.

In [ ]:
items = ['Amrita', 25, 5.6, 'Trivandrum']
print(items)

['Amrita', 25, 5.6, 'Trivandrum']

### 1f. Creating a list of lists
You can also create lists within a list. Again, we will not focus on this type of lists.

In [ ]:
items = ['Amrita', ['Ashok', 'Kumar'], 34, [23,'Feb',1995], 5.6]
print(items)

['Amrita', ['Ashok', 'Kumar'], 34, [23, 'Feb', 1995], 5.6]

### 1g. Creating a list from variables

In [ ]:
name = 'Ashok'
age = 25
weight = 75  # kgs
enrolled = True
student = [name, age, weight, 'BCA', enrolled]
print(student)

['Kumar', 25, 75, 'BCA', True]

### 2a. Creating a list from user input

Get the input list, split them based on whitespace, convert them to int type and finally create a list out of them.

In [ ]:
a = list( map(int,input().split()) )
print(a)

8 6 3 9
[8, 6, 3, 9]

### 2b. Printing a list without brackets and comma

In [ ]:
a = list( map(int,input().split()) )
print(a)
print(*a)

8 5 9 2
[8, 5, 9, 2]
8 5 9 2

### 3a. Accessing first item of a list

In [ ]:
items = [25,51,36,17,48]
print(items[0])

25

### 3b. Accessing last item of a list
Using -1 as index gives you the last item in the list.

In [ ]:
items = [25,51,36,17,48,50]
print(items[-1])

50

### 3c. Finding the length of the list

In [ ]:
items = [25,51,36,17,48,50]
print(len(items))

6

### 3d. Accessing last item using length

In [ ]:
items = [25,51,36,17,48]
n = len(items)
print(items[n-1])

48

### 3e. Accessing ith item of the list
Let's try to get the item at position/index 3. Note that indexing starts from 0. Hence 17 is at position 3.

In [ ]:
items = [25,51,36,17,48]
print(items[3])

17

### 3f. Iterating through the list

In [ ]:
items = [25,51,33,17,48]
n = len(items)
for i in range(n) : # start from 0 go until n-1
  print(items[i])

25
51
33
17
48

### 3g. Iterating through the list reverse way

In [ ]:
items = [25,51,36,17,48, 51]
n = len(items)
for i in range(n-1,-1,-1) :  # Start from n-1, count until 0, taking 1 step backwards
  print(items[i])

51
48
17
36
51
25

### 4a. Modifying an element of a list
Lists are mutable. Therefore, they can be modified.

In [ ]:
items = [25,51,36,17,48]
print(items)
items[0] = 20
print(items)

[25, 51, 36, 17, 48]
[20, 51, 36, 17, 48]

### 4b. Modifying every element of the list

In [ ]:
items = [3, 5, 4, 7, 6]
print(items)

def square() :
  for i in range(len(items)) :
    items[i] = items[i] * items[i]

square()
print(items)

[3, 5, 4, 7, 6]
[9, 25, 16, 49, 36]

### 5a. Slicing the list
Slicing the list can be done just like you do with strings.

In [ ]:
items = [3, 5, 4, 7, 6]
print(items[:2])
print(items[2:])
print(items[1:4])

[3, 5]
[4, 7, 6]
[5, 4, 7]

### 5b. Concatenating two lists using + operator

In [ ]:
list1 = [3, 5, 4, 7, 6]
list2 = [2, 8, 0, 9, 1]
list12 = list1 + list2
print(list12)
list21 = list2 + list1
print(list21)

[3, 5, 4, 7, 6, 2, 8, 0, 9, 1]
[2, 8, 0, 9, 1, 3, 5, 4, 7, 6]

### 5c. Slicing and concatenation together

In [ ]:
list1 = [3, 5, 4, 7, 6]
list2 = [2, 8, 0, 9, 1]
list12 = list1[:2] + list2[2:]
print(list12)

[3, 5, 0, 9, 1]

## **Mutability vs. Immutability**

In [ ]:
str = "Amrita"
n = len(str)
str = str + "CSE-D"
print(str)

l = [1, 2, 3, 4]
print(l)
l.append(5)
print(l)


lista = [1, 2, 3]
listb = lista
listc = lista.copy()
lista.append(10)
print(lista)
print(listb)
print(listc)

AmritaCSE-D
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 10]
[1, 2, 3, 10]
[1, 2, 3]