In [ ]:
print('Hello Hemanth')

Hello Hemanth

In [ ]:
print('Hello', 'Hemanth')

Hello Hemanth

In [ ]:
print('Hello', 'Hemanth', sep='---')

Hello---Hemanth

In [ ]:
print('Hello')
print('Hemanth')

Hello
Hemanth

In [ ]:
print('Hello\nHemanth')

Hello
Hemanth

In [ ]:
print('Hello\tHemanth')

Hello	Hemanth

In [ ]:
print(1234567890)

1234567890

In [ ]:
print(9.14)

9.14

In [ ]:
radius = 60
print(radius, type(radius))

60 <class 'int'>

In [ ]:
pi = 9.14
print(pi,type(pi))

9.14 <class 'float'>

In [ ]:
degree = "B.Tech"
print(degree)

B.Tech

In [ ]:
employed = True
print(employed)

True

In [ ]:
name, age, height, employed = 'Bharat', 25, 5.8, True
print(name,age,height,employed,sep=' || ')

Bharat || 25 || 5.8 || True

In [ ]:
name = input()
print('Hello', name)

Hemanth
Hello Hemanth

In [ ]:
height = float(input())
print('The height is', height)

5.9
The height is 5.9

In [ ]:
employed = bool(input())
print('Employment status =', employed)

50
Employment status = True

In [ ]:
name = input()
age = int(input())
height = float(input())
employed = bool(input())
print(name, age, height, employed)

Hemanth
19
5.8
yes
Hemanth 19 5.8 True

In [ ]:
name, age, height, = input().split() 
print(name, age, height)
age = int(age)
height = float(height)
print(name, age, height)

Hemanth 19 5.7
Hemanth 19 5.7
Hemanth 19 5.7

In [ ]:
a, b, c, d = map(int, input().split())
print(a,b,c,d)

1 2 3 4
1 2 3 4

In [ ]:
a, b = 5, 20
sum = a + b
diff = a - b
product = a * b
result = a / b
quotient = a // b
remainder = a % b
power = a ** b
print (sum, diff, product, result, quotient, remainder, power)

25 -15 100 0.25 0 5 95367431640625

In [ ]:
a, b = 5, 2
print(a == b+3)
print(a < b)
print(a <= b)  # <= is a single operator
print(a > b)
print(a >= b)
print(a != b)

True
False
False
True
True
True

In [ ]:
x, y, z = 2, 10, 7

print(x < y and y < z)  # Should print False since y is not less than z
print(x < y or y < z)  # Should print True since x is less than y
print(not x < y)  # Should print False since x < y is True and opposite of it is False.
print (x < y and not y < z)  # Should print true since x < y and y >= z
# These operators play a complementary role
print(x+y < z*2 and x*z <= y**5)

False
True
False
True
True

In [ ]:
x = int(input())
y = int(input())
if x < y :
  print(x,  'is less than', y)

2
2

In [ ]:
x = int(input())
y = int(input())
if x < y :
  print(x, 'is less than', y)
else :
  print(x, 'is not less than', y)

5
6
5 is less than 6

In [ ]:
x = int(input())
y = int(input())
if x < y :                      # Condition 1
  print (x, 'is less than', y)        # Branching 1
elif x > y :                    # Condition 2
  print (x, 'is greater than', y)     # Branching 2
else :                          # Condition 3 (implicit)
  print (x, 'is equal to', y)         # Branching 3

6
10
6 is less than 10

In [ ]:
x,y,z = map(int, input().split())

if x < y :
  if y < z :
    print(x,y,z,'form a sorted sequence')
  else :
    print(x,y,z,'do not form a sorted sequence')
else :
  print(x,'is not less than', y)

1 0 5
1 is not less than 0

In [ ]:
for i in range(10) :  # Start from 0, count until 9, increasing by 1 at a time
  print('Hello Hemanth')

Hello Hemanth
Hello Hemanth
Hello Hemanth
Hello Hemanth
Hello Hemanth
Hello Hemanth
Hello Hemanth
Hello Hemanth
Hello Hemanth
Hello Hemanth

In [ ]:
n = int(input())
for i in range(n) :   # Start from 0, count until n-1, increasing by 1 at a time
  print('Hello Hemanth')

8
Hello Hemanth
Hello Hemanth
Hello Hemanth
Hello Hemanth
Hello Hemanth
Hello Hemanth
Hello Hemanth
Hello Hemanth

In [ ]:
n = int(input())
for i in range(10,n+10) :   # Start from 1, go until n, taking 1 step at a time
  print('Hello Hemanth', i)

10
Hello Hemanth 10
Hello Hemanth 11
Hello Hemanth 12
Hello Hemanth 13
Hello Hemanth 14
Hello Hemanth 15
Hello Hemanth 16
Hello Hemanth 17
Hello Hemanth 18
Hello Hemanth 19

In [ ]:
n = int(input())
for i in range(1,n,2) :  # Start from 1, go until n-1, jumping 2 steps
  print('Hello Hemanth', i)

5
Hello Hemanth 1
Hello Hemanth 3

In [ ]:
n = int(input())
for i in range(n) :
  a, b = map(int, input().split())
  if a > b :
    print(a-b)
  else :
    print(b-a)